.game {
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: fixed;

  .header {
    margin-top: 20px;
    position: relative;

    h1 {
      font-size: xx-large;
      color: #333;
    }

    .current-word {
      margin-top: .5em;
      font-size: larger;
    }

    .count-words {
      margin-top: .5em;
      font-size: x-large;
    }

    .lifes {
      margin-top: 2em;
      top: .5em;
      right: 1em;
      color: red;
    }

    .user-msg {
      height: 1em;
      margin-top: 1em;
      color: transparent;
      transition: all .5s ease-in-out;

      &-error {
        color: red;

      }

      &-correct {
        color: green;
      }
    }

  }

  .content {
    margin-top: 100px;

    .roll {
      &-word {
        display: flex;
        position: relative;
        margin: auto;
        padding: .5em 0 .5em 1em;
        width: fit-content;
        font-size: xx-large;
        font-family: monospace;
        border: thick solid #333;
        color: #333;
        letter-spacing: 1em;
      }

      &-letter {
        .arrow {
          position: absolute;
          background: transparent;
          font-size: xx-large;
          margin-left: -.2em;

          &-top {
            top: -1.5em;
          }

          &-bottom {
            bottom: -1.5em;
          }
        }
      }
    }

    .check-word {
      margin-top: 5em;

      button {
        border: 1px solid #333;
        padding: .5em 1em;
        font-size: 1em;

        &:active {
          background: #333;
        }

        &:disabled {
          border-color: transparent;
          opacity: .8;
        }
      }
    }


    .list-word {
      h3 {
        color: #333;
      }

      margin-top: 15px;
      max-height: 5em;
      overflow: auto;

      &-list {
        margin-top: 5px;
        color: #a0a0a0;
        display: flex;
        flex-direction: column-reverse;

        p:last-child {
          display: none;
        }
      }
    }
  }

  .lose-page {
    text-align: center;

    p {
      margin-top: 10px;
    }

    img {
      width: 60%;
      margin: 20px auto;
    }

    button {
      margin: auto;
      display: block;
      color: teal;
      font-size: larger;
      background: transparent;
      border-bottom: 1px solid teal;
    }
  }

  .new-word-form {
    input[type="text"] {
      padding: .5em;
      border: 1px solid #000;
      margin-right: 1em;
    }

    input[type="submit"] {
      padding: .5em;
      border: 1px solid #000;
      margin-right: 1em;
    }
  }

  .modal {
    position: absolute;
    background: #0000003a;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &-content {
      margin-top: 120px;
      background: white;
      padding: 2em 1em;

      >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;

        button {
          width: 100px;
          height: 20px;
          border: 1px solid #333;
          margin-top: .5em;
        }
      }
    }
  }

}